In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
pos = open("positive_emoji_v2.csv").read().split(",")
neg = open("negative_emoji_v2.csv").read().split(",")
print("Positive emoji: {}\n\nNegative emoji: {}\n".format("".join(pos), "".join(neg)))
print(sorted(os.listdir("egypt tweets")))
pd.set_option('display.max_colwidth', -1)

Positive emoji: ğŸ‘ŠğŸš‚ğŸš„ğŸŒâ˜ºï¸ğŸŒŸğŸ‘šâ›„â™”ğŸ¼ğŸ’ğŸ»ğŸ¬âœ¨ğŸ€â˜ºğŸ˜™ğŸš¤ğŸ½ğŸ¡ğŸ ğŸ’âœğŸŒ›ğŸ’ğŸŒ¾ğŸ ğŸ“£ğŸŒ‘ğŸ°ğŸºğŸ˜›ğŸ‘ğŸ™†ğŸš—ğŸŒšğŸŒ‰ğŸ‘”ğŸğŸ“ğŸ’„ğŸ’»:DâœğŸğŸ’°ğŸ“¹ğŸ˜ƒğŸ˜ğŸ¨ğŸ’’ğŸŒ¼ğŸ’‘ğŸ¤£ğŸŒ»ğŸ˜šğŸ™‹ğŸŒ½ğŸ·â™¨ğŸ’«â™›ğŸ“ğŸƒğŸš€ğŸŒğŸ˜‡ğŸ’ğŸ“ºğŸğŸšğŸ˜…ğŸ†ğŸ¥ğŸ™ğŸ’ğŸªğŸ­ğŸ¶ğŸ˜â–²ğŸ˜ºğŸ‚ğŸ˜ğŸŸğŸ‰ğŸˆğŸ¤ğŸŠğŸ‰ğŸŒ´ğŸ˜»ğŸ†—â¥ğŸ§ğŸ‘ ğŸŒ²ğŸ©ğŸ’™ğŸ„ğŸµâ˜•âš«ğŸŠâ˜¼ğŸ‚ğŸˆğŸğŸ°ğŸ’ŸğŸ’›ğŸŒ¸ğŸ“¶ğŸ±ğŸŒ:)ğŸ¶ğŸ¿ğŸ¡ğŸ˜‹ğŸ‘—âœ’ğŸ™ŒğŸ˜®ğŸ™‚ğŸŒ±ğŸ’ƒğŸ”ğŸ”ğŸ’ŒğŸ’¼ğŸŒ”ğŸ‹ğŸ‘¨ğŸš“ğŸ’–âœˆğŸ‘°ğŸ”ğŸ¦ğŸ¼ğŸ‘­ğŸ’ğŸ€ğŸ‘ğŸ”…ğŸˆğŸ’—ğŸ•ğŸ’¬â„ğŸ’ªğŸƒğŸ«ğŸ·ğŸ‡ğŸ‘–â™¬ğŸ“šğŸ¸âœ”ğŸ”­ğŸ‘¤ğŸâ˜†ğŸš¼ğŸ´ğŸ‘•ğŸ’“ğŸŒ¹â˜€ğŸŒˆğŸ˜†ğŸ’œğŸ—»ğŸ’šğŸ”†ğŸ¤ğŸ‘¯ğŸŒºğŸŒ°âœ¿ğŸ‘‘ğŸ¥§ğŸ¨ğŸŒ¿ğŸ€ğŸ˜ŠğŸ’ğŸ¸ğŸ’˜ğŸ˜˜â™©ğŸ˜‚ğŸ‘¸â…ğŸµğŸŒŠğŸ“¢ğŸ”ŠğŸ‘£ğŸŠğŸ’•ğŸ˜¸ğŸ‘«âš“ğŸŒŒğŸ‚ğŸ˜‰ğŸŒ•ğŸ‡ğŸ˜œğŸ‘œğŸ°ğŸŒ’âœŠğŸƒğŸªğŸ˜ŒğŸ§ğŸ‡â˜»ğŸŒ‡â›µğŸ§ğŸ†â™¥ğŸ‘›ğŸš¢ğŸ“â™ªğŸ£ğŸ¬ğŸ©ğŸ‘¶ğŸ””ğŸ’¡â™•ğŸš´ğŸŒ³ğŸğŸ¦ğŸš²ğŸ‘¢ğŸ¤—â™¡ğŸ˜€ğŸœğŸŒ·ğŸšµğŸšŒğŸ˜—ğŸ—½ğŸ“·ğŸ™ŠğŸ’‡ğŸªğŸ‘ŸğŸŒœğŸ‰ğŸ¤â€ğŸ’³ğŸ‘¡ğŸ‘‹ğŸ†’ğŸ‘„ğŸ‘…ğŸ‘ŒğŸ ğŸ®ğŸ©âœŒğŸ˜„ğŸ¥ğŸ¬â›³ğŸš¿ğŸŒ˜ğŸ¡ğŸµğŸŒ ğŸğŸ…ğŸš£âœ“ğŸ…ğŸŒ…ğŸ•ğŸ¹âœ…ğŸ©ğŸ†“ğŸ’‹ğŸ˜ğŸºğŸ¤©ğŸ„ğŸ¾ğŸ˜â¤ğŸ†ğŸ—¼ğŸš¨ğŸ¹ğŸ

Negative emoji: ğŸ‘¿ğŸ˜Ÿâ†ªğŸ”¨ğŸ’£ï¿½ğŸ“ğŸ’¥ğŸ¸ğŸ’‰ğŸ‘ºğŸğŸ˜µğŸ¤ğŸš›ğŸŒµğŸ˜¦ğŸ˜§ğŸ™ˆâ˜¹ğŸ‘¾:(ğŸ˜¶ğŸ˜ğŸŒšâ—â˜ ğŸœğŸ˜¢ğŸ˜ğŸ˜’ğŸ˜“ğŸ”™ğŸ™ğŸ“ŒğŸ´ğŸ˜°âœ‚ğŸ‘®ğŸ”ªğŸ˜¤ğŸ˜”ğŸ¥€âœ‹ğŸ˜¥ğŸ˜£ğŸ™‡ğŸğŸ˜­ğŸ“µğŸ˜‘ğŸ˜´â›”ğŸ”ğŸ‘ğŸ˜¿ğŸ˜²ğŸ™ğŸ˜·â©âš ğŸ˜¯âŒ›ğŸ”±ğŸ˜¡ğŸ˜±ğŸ˜•ğŸ˜¾ğŸ”“ğŸ˜ªğŸš‘ğŸ’”ğŸ²ğŸ˜ğŸ˜–ğŸ˜³ğŸ˜©ğŸ˜¬ğŸš«â“ğŸŒ‹ğŸ™ğŸ’€ğŸ˜¼ğŸ›ğŸ¤”ğŸ˜«ğŸ†˜ğŸ˜¨ğŸ˜ ğŸ‘

['Dr_Heba_Raouf.csv', 'egypt_tweets_2014.csv', 'egypt_tweets_2015.csv', 'egypt_tweets_2016.csv', 'egypt_tweets_2017.csv', 'egypt_tweets_2018.csv', 'egypt_tweets_2019.csv', 'harassers.csv']

In [2]:
%%time
useful_cols = ["username", "fullname", "tweet_url", "timestamp", "text"]
for f in sorted(os.listdir("egypt tweets")):
    if f == "Dr_Heba_Raouf.csv":
        df = pd.read_csv("egypt tweets/" + f)
    else:
        df = pd.read_csv("egypt tweets/" + f, sep=";", usecols=useful_cols)
        df["tweet_url"] = "https://twitter.com" + df["tweet_url"]
    hashtags = {}
    feels = []
    for tweet in df.text:
        if type(tweet) != str:
            continue
        feel = sum([e in tweet for e in pos]) - sum([e in tweet for e in neg])
        feels.append(feel)
        for word in tweet.split():
            if word[0] == "#":
                if word not in hashtags:
                    hashtags[word] = 1
                else:
                    hashtags[word] += 1
    hashtags_by_popularity = sorted(hashtags.items(), key=lambda kv: kv[1], reverse=True)
    print("{} - {} tweets".format(f, len(df)))
    result_df = pd.DataFrame(hashtags_by_popularity, columns=["Hashtag", "Count"])
    display(result_df[:20])
    
    femin = df[df.text.str.contains(r"(?i)femin|(?i)haras ", na=False)]
    display(femin)
    
    feels = np.array(feels)
    print("Positive feels: {}. Negative feels: {}".format(
        sum(feels > 0),
        sum(feels < 0)
    ))

Dr_Heba_Raouf.csv - 47225 tweets

                      Hashtag  Count
0   #AdyElyKhadnahMnElthawraâ€  12
1   #offline                   8
2   #fetret_almasry            7
3   #ÙˆØ¹ÙŠ                       5
4   #AdyElyKhadnahMnElthawra   5
5   #Ø¹Ø¨Ø«                       4
6   #Ù…Ø¤Ø§Ø®Ø§Ø©                    4
7   #Ù…Ù†Ù‚ÙˆÙ„                     4
8   #Ù‚Ø³Ø·Ø§Ø³                     4
9   #Ø­Ø±ÙƒØ©_Ø§Ù„Ù…Ø³Ø§Ø¬Ø¯_Ù„Ù„Ù‡          4
10  #Ù…Ù†_Ø­ÙƒÙ…Ø©_Ø§Ù„Ù…ØµØ±ÙŠÙŠÙ†          4
11  #Ø§Ù„ØªÙÙƒÙŠØ±_Ø¨ØµÙŠØºØ©_Ø§Ù„Ø¬Ù…Ø¹       3
12  #Ø­Ù‚ÙŠÙ‚Ø©                     3
13  #ÙØ³ÙŠÙ„Ø©                     3
14  #jan25memories             3
15  #Egypt                     3
16  #Scaf                      3
17  #tahrir                    3
18  #Ø³ÙŠÙ†Ø§Ø¡                     2
19  #Ø§Ø³ØªÙ‚ÙŠÙ…ÙˆØ§                  2

,date,username,to,replies,retweets,favorites,text,geo,mentions,hashtags,id,permalink
33866,2012-03-08 05:08:48,Dr_Heba_Raouf,NaN,0,0,0,@manarelgammal indeed:) that is why I do not see myself as feminist :) ya rab akoon human being,NaN,@manarelgammal,NaN,177621871901163520,https://twitter.com/Dr_Heba_Raouf/status/177621871901163520

Positive feels: 11460. Negative feels: 154
egypt_tweets_2014.csv - 257063 tweets

                               Hashtag  Count
0   #                                   558
1   #prt                                530
2   #Ù…ØµØ±                                512
3   #3alahwa                            433
4   #egypt                              410
5   #Ù„ÙˆÙ„ÙŠØªØ§_ÙˆØ§Ø¨ÙˆØºØ²Ø§Ù„Ø©_ÙˆØ§Ù„ÙÙˆÙ„ÙˆØ±Ø²_Ø¨Ø²ÙŠØ§Ø¯Ø©  347
6   #Ø¹Ù†                                 337
7   #Egypt                              278
8   #Ø«Ø§Ù†ÙˆÙŠØ©_Ø¹Ø§Ù…Ø©                        245
9   #luxor                              214
10  #Ø­Ù‚ÙŠÙ‚Ø©                              210
11  #ØªÙˆÙŠØ¨_ØªÙ‚ÙˆÙ„Ø©_ÙƒÙ„_Ø³Ù†Ø©_ÙˆØ§Ù†Øª_Ø·ÙŠØ¨         209
12  #Ø¹Ù…Ø±Ùˆ_Ø¯ÙŠØ§Ø¨                          190
13  #PRT                                178
14  #Ø¨Ø­Ø³_Ø¨Ø§Ù„Ø³Ø¹Ø§Ø¯Ù‡_Ù„Ù…Ø§                   177
15  #ÙÙŠ_Ø§Ù„Ø¨Ø±Ø§Ø²ÙŠÙ„                        175
16  #Ø§Ù†ØªØ®Ø¨ÙˆØ§_Ø§Ù„Ø¹Ø±Øµ                      174
17  #EMABiggestFans1D                   172
18  #Selfie                             164
19  #Ø§Ù„Ø²Ù…Ø§Ù„Ùƒ                            163

,username,fullname,tweet_url,timestamp,text
169371,NourAla2,Nour Alaa,https://twitter.com/NourAla2/status/469919094305603584,2014-05-23 19:13:37,"#Sisi_syndrom old male with estrogenic speech, feminine face and finding himself around females ."
184185,M7Elgameel,Ma7MoUd,https://twitter.com/M7Elgameel/status/462652851903528960,2014-05-03 18:00:10,@SherySweets 3m9man y3ni b3eedan 3n l 3ak l olteh...you r full of Femininity
253621,OhMyRino,RÃ©nade,https://twitter.com/OhMyRino/status/419647068228304896,2014-01-05 01:50:32,@Atefvich I like guys that are somehow in touch with their feminine side what's wrong with that :D

Positive feels: 18780. Negative feels: 2191
egypt_tweets_2015.csv - 166366 tweets

                       Hashtag  Count
0   #ÙƒÙ„ÙŠØ¨_Ù„ÙŠØ«                   2358
1   #LaithAbuJoda               1737
2   #3alahwa                    709
3   #Laith_At_SakyatAlsawy      609
4   #Ù…Ø¨Ø§Ø´Ø±                      602
5   #Ù…ØµØ±                        490
6   #Egypt                      480
7   #Ù„ÙŠØ«_ÙÙŠ_ÙŠÙˆÙ…_Ø§Ù„ÙŠØªÙŠÙ…          476
8   #egypt                      423
9   #Ø§Ù„Ø¨ÙˆØ±ØµØ©_Ø§Ù„Ù…ØµØ±ÙŠØ©            404
10  #LaithAbuJodaClip           385
11  #Ø§Ù„Ø³Ø§Ù‚ÙŠØ©_Ù‡ØªÙˆÙ„Ø¹_Ù…Ø¹_Ù„ÙŠØ«       367
12  #Ø­ÙÙ„Ø©_Ù„ÙŠØ«_Ø£Ø¨ÙˆØ¬ÙˆØ¯Ø©_ÙØ§Ù„Ø³Ø§Ù‚ÙŠØ©  337
13  #Ø­ÙÙ„Ù‡_Ù„ÙŠØ«_Ø£Ø¨ÙˆØ¬ÙˆØ¯Ù‡_ÙØ§Ù„Ø³Ø§Ù‚ÙŠÙ‡  332
14  #Ø£Ø¨Ùˆ_Ù„ÙŠØ«_Ù†ÙˆØ±_Ù…ØµØ±            278
15  #Ù„ÙŠØ«_Ø£Ø¨ÙˆØ¬ÙˆØ¯Ø©_ÙÙŠ_ÙŠÙˆÙ…_Ø§Ù„ÙŠØªÙŠÙ…  278
16  #FiZo                       273
17  #luxor                      256
18  #Ø§Ù„Ù„Ù‡_ÙŠØ³Ø§Ù…Ø­Ù†Ø§               256
19  #                           251

,username,fullname,tweet_url,timestamp,text
125007,BkkarNub,Muhammad Hassan,https://twitter.com/BkkarNub/status/569888848186093568,2015-02-23 15:57:44,#Communist #feminist #atheist #truepic.twitter.com/lruE60l2Pw

Positive feels: 3939. Negative feels: 520
egypt_tweets_2016.csv - 51681 tweets

                                Hashtag  Count
0   #egypt                               598
1   #Ù…ØªØ³Ù…Ø¹Ø´_ÙˆØ¨Ø³                          444
2   #Egypt                               379
3   #travel                              331
4   #luxor                               256
5   #Luxor                               238
6   #friends                             223
7   #bama2016platinumedition_ranasamaha  170
8   #Ø²Ø¹ÙŠÙ…_ØªÙˆÙŠØªØ±_ÙÙˆÙ„ÙˆØ±Ø²_Ù…ÙƒÙŠÙ              139
9   #Ø³Ù†Ø©_Ø­Ù„ÙˆØ©_ÙŠØ§Ø´Ø§Ù‡ÙŠÙ†                    139
10  #HBDMohammadChahine                  139
11  #happy                               138
12  #love                                135
13  #MarwanYoussef                       133
14  #BAMA2016PlatinumEdition_RanaSamaha  130
15  #traveling                           127
16  #                                    125
17  #Ø´Ø§Ù‡ÙŠÙ†_Ù‡Ø±Ù…_Ù…ØµØ±_Ø§Ù„Ø±Ø§Ø¨Ø¹                123
18  #insta                               121
19  #thisisegypt                         118

Empty DataFrame
Columns: [username, fullname, tweet_url, timestamp, text]
Index: []

Positive feels: 482. Negative feels: 55
egypt_tweets_2017.csv - 30528 tweets

         Hashtag  Count
0   #egypt        750
1   #Ø§Ù„Ù‡Ù„Ø§Ù„       639
2   #luxor        409
3   #Egypt        406
4   #travel       225
5   #Luxor        215
6   #photography  159
7   #_bro_9       157
8   #friends      155
9   #Ø±Ù…Ø²ÙŠØ§Øª       135
10  #redsea       122
11  #love         121
12  #temple       120
13  #thisisegypt  103
14  #family       98
15  #tb           88
16  #gouna        86
17  #elgouna      85
18  #lucky        85
19  #sunset       75

,username,fullname,tweet_url,timestamp,text
25697,Basboussa628,Jihan Jamal,https://twitter.com/Basboussa628/status/831205085250256897,2017-02-13 18:15:10,"Repost, @monaeltahawy #doriashafik #egyptianfeminist With 1500 #egyptianwomen stormed intoâ€¦ https://www.instagram.com/p/BQdiLAUjRBK/"

Positive feels: 156. Negative feels: 13
egypt_tweets_2018.csv - 24094 tweets

           Hashtag  Count
0   #egypt          963
1   #luxor          529
2   #Egypt          507
3   #travel         277
4   #Luxor          214
5   #photography    137
6   #temple         117
7   #photooftheday  105
8   #love           103
9   #2018           102
10  #sunset         91
11  #redsea         87
12  #trip           83
13  #thisisegypt    83
14  #karnak         81
15  #sun            81
16  #sky            79
17  #picoftheday    79
18  #nile           78
19  #ElGouna        78

,username,fullname,tweet_url,timestamp,text
17611,PLeiaPrinSass,Kate Spaulding,https://twitter.com/PLeiaPrinSass/status/979810736116588551,2018-03-30 20:00:58,Temple of #hatshepsut in #valleyofthekings - she was a true feminist - dressed as a man when sheâ€¦ https://www.instagram.com/p/Bg9cMDwDNLS/
19175,lord_mariano,FC Lord Mariano,https://twitter.com/lord_mariano/status/971766291559264256,2018-03-08 15:15:13,"O poder de uma mulher nÃ£o estÃ¡ no seu fÃ­sico, na sua beleza ou encanto feminino. \nO poder de umaâ€¦ https://www.instagram.com/p/BgERB7Sj9kv/"

Positive feels: 81. Negative feels: 7
egypt_tweets_2019.csv - 628762 tweets

                            Hashtag  Count
0   #egypt                           759
1   #NewProfilePic                   704
2   #Ø¹Ø§Ø¬Ù„_ØªØ­Ø°ÙŠØ±_ÙˆÙ†Ø°ÙŠØ±_Ù„Ø¬Ù…ÙŠØ¹_Ø§Ù„Ø¨Ø´Ø±    602
3   #ï·º                               434
4   #SaudiCapturesISISLeaderrr       394
5   #Egypt                           390
6   #Quran                           384
7   #                                371
8   #luxor                           357
9   #TotalAFCON2019                  346
10  #np                              315
11  #Ø§Ø·Ù…Ù†_Ø§Ù†Øª_Ù…Ø´_Ù„ÙˆØ­Ø¯Ùƒ               281
12  #Ù…Ø­Ù…Ø¯Ø¯Ø¯_Ù…Ø±Ø³ÙŠ_Ø¹Ù…ÙŠÙ„                276
13  #Ø§Ù„Ù‚Ù…Ù‡_Ø§Ù„Ø§Ø³Ù„Ø§Ù…ÙŠÙ‡_Ø¨Ù…ÙƒÙ‡Ù‡Ù‡          266
14  #Hadith                          258
15  #Ø¨Ø¯Ø±_Ø§Ù„Ø¹Ø³Ø§ÙƒØ±_ÙÙŠ_Ù„ÙŠÙˆØ§Ù†_Ø§Ù„Ù…Ø¯ÙŠÙØ±Ø±Ø±  257
16  #travel                          227
17  #FootballTogether                217
18  #ØµÙˆØ±Ø©_Ù…Ù„Ù_Ø´Ø®ØµÙŠ_Ø¬Ø¯ÙŠØ¯Ø©             204
19  #BBMAsTopSocial                  200

,username,fullname,tweet_url,timestamp,text
4109,LUXORLight,ChristinA Ritchie,https://twitter.com/LUXORLight/status/1146615306376241152,2019-07-04 03:02:46,Light Codes - Masculine and Divine Feminine - The Coming Together Message https://youtu.be/-VSbSD-8huQÂ via @YouTube
7040,amdmohd,AHMED M. ALY || â™ŒğŸ’¥Ø§Ù„Ù‡ÙŠÙ‘Ø°Ø§Ù…ãƒ„,https://twitter.com/amdmohd/status/1146576177353678848,2019-07-04 00:27:17,ÙˆØ´Ø®Øµ Ù…Ø±ÙŠØ¶ ÙˆÙ„Ø§Ø²Ù… ÙŠØªØ¹Ø§Ù‚Ø¨ ÙˆØ§Ù„ØªØ¹Ø§Ø·Ù Ù…Ø¹Ø§Ù‡ Ø¨Ø£ÙŠ Ø´ÙƒÙ„ ÙÙƒØ±Ø© ØºÙŠØ± Ù…Ù‚Ø¨ÙˆÙ„Ø© Ø§Ø¨Ø¯Ø§https://twitter.com/YeFeministVoice/status/1146108383100981248Â â€¦
7670,remonshokry1,remon_s_tawfik,https://twitter.com/remonshokry1/status/1146569407147257856,2019-07-04 00:00:23,Ø§Ù„Ù…ØªØ­Ø±Ø´.https://twitter.com/YeFeministVoice/status/1146108383100981248Â â€¦
9783,EzzatNaguib7,Ezzat Naguib,https://twitter.com/EzzatNaguib7/status/1146547973666611200,2019-07-03 22:35:13,ÙƒÙ„Ù‡Ø§ Ù…Ø¨Ø±Ø±Ø§Øª Ù„Ù„Ø­ÙŠÙˆØ§Ù†ÙŠØ© Ø§Ù„Ù„ÙŠ Ø¨Ù‚Øª ÙØ§Ù„Ø´Ø¨Ø§Ø¨ ÙØ§Ù„Ø´ÙˆØ§Ø±Ø¹..\nÙ…Ù‡Ùˆ Ø§Ù„Ø³Ø¹ÙˆØ¯ÙŠØ© Ù„Ø¨Ø³ Ù…Ø­ØªØ´Ù… Ø¹Ø§Ù„Ø§Ø®Ø± ÙˆØ§Ù„Ø§ÙƒØªØ± Ù†Ø³Ø¨ ØªØ­Ø±Ø´ ÙØ§Ù„Ø¯ÙˆÙ„ Ø§Ù„Ø¹Ø±Ø¨ÙŠØ© ..https://twitter.com/YeFeministVoice/status/1146108383100981248Â â€¦
16322,MarwaAbdallh2,Ù…ÙŠÙ…ÙˆğŸ‡¦ğŸ‡·ğŸ‡¦ğŸ‡·ğŸ‡¦ğŸ‡·,https://twitter.com/MarwaAbdallh2/status/1146466722859421698,2019-07-03 17:12:21,Ø·Ø¨Ø¹Ø§Ù‹https://twitter.com/yefeministvoice/status/1146108383100981248Â â€¦
20929,LUXORLight,ChristinA Ritchie,https://twitter.com/LUXORLight/status/1146403925530202113,2019-07-03 13:02:49,Light Codes of the Divine Masculine and Divine Feminine - A Coming TogetherÂ - http://eepurl.com/gww2x1
40966,obliviate_8,Renad,https://twitter.com/obliviate_8/status/1146093467229204480,2019-07-02 16:29:10,Ù„Ø§ Ø§Ù†Øª Ù…Ø®ØªØ§Ø± ÙØ¦Ø© Ù…Ø¹ÙŠÙ†Ø© ØªØ¨Øµ Ø¹Ù„ÙŠÙ‡Ù… Ø¯ÙŠ Ø¹Ù„ÙŠÙƒ Ø§Ù†ØªØŒ Ø¯Ø§ Ù…Ø´ feminism Ø¯Ø§ Ø¹ØªÙ‡\nÙ„ÙƒÙ† Ø§Ù„Ø·Ø¨ÙŠØ¹ÙŠ Ø¥Ù† Ø§Ù„Ø§ØªÙ†ÙŠÙ† Ù…Ø´ Ø¹ÙƒØ³ Ø¨Ø¹Ø¶ ÙˆÙ„Ø§ Ø­Ø§Ø¬Ø©\nØ§Ù„ feminism Ø¶Ø¯ Ø§Ù„Ø¹Ù†Ù Ø¶Ø¯ Ø§Ù„Ù…Ø±Ø£Ø©ØŒ Ø§Ù„Ù…Ø¹Ø§Ù…Ù„Ø© Ø§Ù„Ù„ÙŠ Ù…Ø´ ÙƒÙˆÙŠØ³Ø©ØŒ Ø§Ù„Ø¶ØºØ· Ø§Ù„Ù„ÙŠ Ø¨ÙŠÙØ±Ø¶Ù‡ Ø§Ù„Ù…Ø¬ØªÙ…Ø¹ ÙˆÙ‡ÙƒØ°Ø§ ÙˆÙƒÙ„Ù‡Ø§ Ø­Ø§Ø¬Ø§Øª ØµØ­ ÙˆÙ…Ø´ Ø¨ØªØªØ¹Ø§Ø±Ø¶ Ø®Ø§Ù„Øµ Ù…Ø¹ Ø§Ù„Ù„ÙŠ Ø¨ØªÙ‚ÙˆÙ„Ù‡
66545,cealhada,Caroline Al-Hada,https://twitter.com/cealhada/status/1145693137714778113,2019-07-01 13:58:24,I canâ€™t speak for all American feminists ... I think most Americans in general are quite unfamiliar with the complexities of the Middle East. Liberals & conservatives like. I am a pro-life from womb to tomb Christian feminist.
102087,Tasneem94O7,TasneemğŸŒ™,https://twitter.com/Tasneem94O7/status/1145125239682211840,2019-06-30 00:21:47,Ø§Ù†Ø§ Ù…Ù…ÙƒÙ† Ø§ØªÙ‚Ø¨Ù„ Ø§Ù† male Ø¹Ø§Ø¯ÙŠ Ø¬Ø¯Ø§ Ù…Ù…ÙƒÙ† ÙŠØ¨Ù‚Ù‰ feminine Ø´ÙˆÙŠØ© Ù„ÙƒÙ† Ù…Ø´ Ù„Ø¯Ø±Ø¬Ø© Ø¨Ù†ØªÙ‡ ØªÙ‚Ù„Ù‡ Ù…Ø§Ù… !! Ù‡Ù†Ø§ Ø¨Ù‚Ù‰ Ø§Ù„Ù…ÙˆØ¶ÙˆØ¹ Ø£Ø®Ø¯ Ù…Ø­Ù†Ù‰ Ø¬Ø¯ÙŠØ¯ Ø®Ø·ÙŠØ± Ø§ÙˆÙŠ
102626,nadaatef98,Nada Ø¹tef,https://twitter.com/nadaatef98/status/1145120110618787841,2019-06-30 00:01:24,Toxic femininity is just sad.
106928,stadjoshi,St Adjosh,https://twitter.com/stadjoshi/status/1145070872534933506,2019-06-29 20:45:45,"Are we giving our kids mental disorder?\nThis is a ""Pure Contagion"" gradually seeping through the fabrics of our society/culture.\n""Forget Patriarchy, the problem is TOXIC FEMINISTS"" - Candace Owens.https://youtu.be/msTGBJpfULE"
109377,MariamEIbrhim74,Mari GÃ¼l,https://twitter.com/MariamEIbrhim74/status/1145033722930089984,2019-06-29 18:18:07,Ù‡Ù…Ø§ Ø§Ù„ Feminists ÙƒØ¯Ø§ Ø¨ÙŠØ·Ù„Ø¹ÙˆØ§ Ù…Ù† ÙƒÙ„ Ø­ØªÙ‡
116221,gohar_hussien,HussienGohar,https://twitter.com/gohar_hussien/status/1144938276337397760,2019-06-29 11:58:51,ÙƒØ³Ù… Ø§Ù‰ Ø­Ø¯ feminist ØªÙ…Ø§Ù… !
117475,WaelAdel96,Wael,https://twitter.com/WaelAdel96/status/1144918876305670145,2019-06-29 10:41:46,Ø§Ù„ØªØ§ÙŠÙ… Ù„Ø§ÙŠÙ† Ø¨Ù‚ÙŠ Ù…ÙƒØ¨ Ù†ÙØ§ÙŠØ§Øª Ù„Ù†Ø§Ø³ Ø§ØªÙ†Ø´Ù† Ù‡ÙˆØ±Ø² ÙˆØ£ØºÙ„Ø¨Ù‡Ù… Ø³ØªØ§Øª Ø¹Ù†Ø¯Ù‡Ù… Ù†Ù‚Øµ Ùˆ Ø°ÙƒÙˆØ± Ù…Ø´ Ù‡Ù‚ÙˆÙ„ Ø±Ø¬Ø§Ù„Ø© Ø¨ÙŠÙ† Ù‚ÙˆØ³ÙŠÙ† Feminist Ø¹Ø§ÙŠØ²Ù‡ ØªÙ„Ù… Ø§Ù„Ø³ØªØ§Øª Ø¹Ù„ÙŠÙ‡Ù… Ø¹Ø´Ø§Ù† Ù‡Ù…Ø§ Ø§ÙƒØªØ± Ù†Ø§Ø³ Ù…ØªØ­Ø±Ø´Ø© ÙˆØ¨ØªÙÙƒØ± Ø´Ù…Ø§Ù„ ÙÙŠÙ‡Ù…ØŒ Ø§Ù„Ù…Ø¬ØªÙ…Ø¹ Ø¹Ù†Ø¯Ù‡ Ø£Ù…Ø±Ø§Ø¶ Ø§Ù‚Ø³Ù… Ø¨Ø§Ù„Ù„Ù‡ Ø¹Ø§ÙŠØ² Ø³Ù†ÙŠÙ† Ø¹Ø´Ø§Ù† ÙŠØªØ¹Ø§Ù„Ø¬ØŒ Ø±Ø¨Ù†Ø§ ÙŠØ®Ø±Ø¬Ù†Ø§ Ù…Ù†Ù‡Ø§ Ø³Ø§Ù„Ù…ÙŠÙ†.
165761,aiya_74,Aiya,https://twitter.com/aiya_74/status/1144085126319677441,2019-06-27 03:28:44,Ù ÙŠØ®ÙˆØ§Ù†Ø§ Ù…ÙŠØ·Ù„Ø¹Ù„ÙŠØ´ Ø­Ø¯ ÙŠÙ‚ÙˆÙ„ Ø¥Ø²Ø§ÙŠ Ø¨Ù†Øª ØªØ¨Ù‚ÙŠ Ø¶Ø¯ Ø¨Ù†Øª ÙˆØ§Ø²Ø§ÙŠ ØªÙŠØ¬ÙŠ Ø¹Ù„ÙŠÙ‡Ø§ ÙˆØ¬Ùˆ Ø¯Ù…Ø§Øº Ø§Ù„ feminists Ø¯ÙŠ Ø¨Ù‚ÙŠ Ù„Ø£ ÙˆÙƒÙ…Ø§Ù† Ø¬Ùˆ Ø§Ù†ÙƒÙˆØ§ ØªØ¯Ø®Ù„ÙˆØ§ Ø­ÙˆØ§Ø± Ø§Ù† Ø§ÙŠ Ø¨Ù†Øª Ø¹Ø§Ù…Ø© Ù„Ùˆ Ø§ØªÙƒÙ„Ù…Øª ÙƒØ¯Ø© ÙŠØ¨Ù‚ÙŠ attention seekingØŒ Ù„Ø£Ù† Ù‡Ùˆ ÙØ¹Ù„Ø§ Ù„Ø§ Ù…Ø´ Ø¯Ø§ÙŠÙ…Ø§ Ø¨Ø³ Ø§Ù„ØºÙ„Ø· ØºÙ„Ø· ÙˆÙ‡ÙŠ ØºÙ„Ø·ØªØŒ Ù…Ø´ Ù‡Ù†Ù‚Ù Ù…Ø¹ Ø­Ø¯ ÙˆÙ†Ø¨Ø±Ø±Ù„Ù‡ ÙˆÙ†Ø´ÙˆÙÙ‡ ØµØ­ ØªÙ…Ø§Ù…Ø§ Ù„ÙƒÙˆÙ†Ù‡Ø§ Ø¨Ù†Øª Ø²ÙŠÙ†Ø§
167934,adoreyunho,cj,https://twitter.com/adoreyunho/status/1144045665498128384,2019-06-27 00:51:56,"personalmente me da mucho miedo ese feminismo, porque estamos para protegernos pero nos desean la muerte no estamos seguros en ningÃºn lado"
204060,almonzer_amro,Gluttony #Ù…Ø¯Ù†ÙŠØ§Ø§Ø§Ùˆ,https://twitter.com/almonzer_amro/status/1143536812691996678,2019-06-25 15:09:56,"If you thought arguing with feminists is hard, try talking to the LGBTQ"
211539,dumbbyl,booop,https://twitter.com/dumbbyl/status/1143411304884867073,2019-06-25 06:51:13,minum feminax
212632,LizardWithBeard,The Lizard Of Oz,https://twitter.com/LizardWithBeard/status/1143375898017595392,2019-06-25 04:30:31,LET ME VALIDATE MY OPINIONS BY BEATING YOU WITH THEM\nVIVIAN\nWHY DON'T YOU WANT TO ACKNOWLEDGE MY SUPERIORITY!?\nYOU MUST BE SOME KIND OF FEMINAZI LEFTCUCK SNOWTARD.\nYou're the reason women don't want to fuck me this is discrimination.
227788,yourlonefriend,The Dude,https://twitter.com/yourlonefriend/status/1142741462838370304,2019-06-23 10:29:30,Ø¨ÙŠØªÙ‡Ø£Ù„ÙŠ Ù…ÙÙŠØ´ feminism ÙÙŠ Ø­Ø§Ø¬Ø© Ø²ÙŠ Ø¯ÙŠ
297701,youssefmarwan23,Youssef Marwan,https://twitter.com/youssefmarwan23/status/1137158352629391360,2019-06-08 00:44:13,Eh ya abdelrahman enta mesh feminist wala eh
404378,AmrSharafElDen,Abo Gouda,https://twitter.com/AmrSharafElDen/status/1128008282386436096,2019-05-13 18:45:06,And now fucking feminists gonna blame the producers #GameofThrones
436749,Tarekmokhtar17,Tarekmokhtar,https://twitter.com/Tarekmokhtar17/status/1125005337688510465,2019-05-05 11:52:28,feminism illness Ø§Ù„Ù„Ù‡ ÙŠØ­Ø±Ù‚Ù‡Ù…
510110,moatazgamal121,MGGBT,https://twitter.com/moatazgamal121/status/1117492085723148288,2019-04-14 18:17:29,Ø§Ù„Ø¥Ø³Ù„Ø§Ù… https://twitter.com/Feminism_pics/status/1117174870125756416Â â€¦
562346,eptehalelshazly,Eptehal | Ø¥Ø¨ØªÙ‡Ø§Ù„,https://twitter.com/eptehalelshazly/status/1111987753288376321,2019-03-30 13:45:14,No one asked you to + itâ€™s got nothing to do with feminism you just judged without watching
591815,AbdoO_nader,Abdelrahman.,https://twitter.com/AbdoO_nader/status/1108623627073798144,2019-03-21 06:57:24,"Women are so powerful the world would suck without them literally .. so to every mother , daughter , sister , wife or all of that you are life u donâ€™t need feminist groups to make you aware of that you are way more important to find your voice through movements that rise and fall"

Positive feels: 1732. Negative feels: 552
harassers.csv - 9429 tweets

                           Hashtag  Count
0   #Ù…Ù†ØªØ®Ø¨_Ø§Ù„Ù…ØªØ­Ø±Ø´ÙŠÙ†                9323
1   #Ù…ØµØ±_Ø¬Ù†ÙˆØ¨_Ø§ÙØ±ÙŠÙ‚ÙŠØ§               819
2   #Ù…Ù†ØªØ®Ø¨_Ù…ØµØ±                      117
3   #Ø­Ø§ÙƒÙ…ÙˆØ§_Ø´ÙˆØ¨ÙŠØ±_Ø§Ù„Ù…Ø²ÙˆØ±            107
4   #Ù…Ù†ØªØ®Ø¨_Ø§Ù„Ø³Ø§Ø¬Ø¯ÙŠÙ†                 69
5   #Ø§ØªØ­Ø§Ø¯_Ø§Ù„ÙƒØ±Ø©                    67
6   #Ù…ØµØ±                            54
7   #Ø§ØªØ­Ø§Ø¯_Ø§Ù„ÙƒØ±Ù‡                    44
8   #Ø·Ø§Ø±Ù‚_Ø­Ø§Ù…Ø¯                      41
9   #SalahSupportsSexualHarassment  35
10  #Ù…Ø­Ù…Ø¯_ØµÙ„Ø§Ø­                      32
11  #Ø¹Ù…Ø±Ùˆ_ÙˆØ±Ø¯Ø©                      31
12  #ØºÙŠØ±_Ù…Ù‚Ø¨ÙˆÙ„                      30
13  #Ø±Ø¶Ø§_Ø¹Ø¨Ø¯_Ø§Ù„Ø¹Ø§Ù„                  29
14  #Ø§ØªØ­Ø§Ø¯_Ø§Ù„Ø¹Ø§Ø±                    29
15  #Ø§Ø·Ù…Ù†_Ø§Ù†Øª_Ù…Ø´_Ù„ÙˆØ­Ø¯Ùƒ              26
16  #Ø§Ù„ÙŠÙˆÙ…_Ø§Ù„Ø¹Ø§Ù„Ù…ÙŠ_Ù„Ù„Ø§Ø¹ØªØ±Ø§ÙØ§Øª       25
17  #Ù…ØµØ±_Ø¬Ù†ÙˆØ¨_Ø£ÙØ±ÙŠÙ‚ÙŠØ§               21
18  #Ù…ØµØ±_Ø¬Ù†ÙˆØ¨_Ø§ÙØ±ÙŠÙ‚ÙŠØ§Ù              21
19  #Ø§Ù„Ø¨Ù†Ø²ÙŠÙ†                        20

,username,fullname,tweet_url,timestamp,text
4884,AnkeJulieMartin,AJ Martin,https://twitter.com/AnkeJulieMartin/status/1147635598192271364,2019-07-06 22:37:03,#Ù…Ù†ØªØ®Ø¨_Ø§Ù„Ù…ØªØ­Ø±Ø´ÙŠÙ†\nDeutsche Feministinnen sollten unter diesem Hashtag lesen. Nachhilfe von Arabischen Aktivisten gegen sexuelle BelÃ¤stigung!

Positive feels: 11. Negative feels: 6
CPU times: user 45.5 s, sys: 590 ms, total: 46.1 s
Wall time: 46.3 s